* {
  padding: .1rem;
}

a {
  text-decoration: none;
  color: pink;
}

.body {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.corpo {
  max-width: 100%;
  width: 90%;
}

.logo {
  width: 6rem;
  border-radius: 5rem;
}

.cabecalho {
  padding-bottom: 2%;
}

.cabecalho-corpo {
  display: flex;
  padding: .6rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.item-list {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.item-carrinho {
  width: 20%;
  padding-right: 20px;
}

.item-carrinho a {
  float: right;
}

.item-usuario {
  width: 20%;
}

.item-usuario a {
  float: right;
}

.router {
  display: flex;
  height: 100vh;
}

.footer {
  margin-top: 2.6rem;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  color: pink;
  padding: 1rem;
  border-radius: 10px;
}
